*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main{
    width: 100%;
}

main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-2xl);
}

/* Top Section Styles */

main section .top{
    display: flex;
    gap: var(--gutter-md);
    align-items: center;
    
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
}

#reset-btn{
    
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#downlod-btn{
    background-color: var(--bg-success-color);
    color: var(--bg-active-color);
}


/* main section left working area styles */
main section .left{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    width: 70%;
    align-items: center;
}

main section .right{
    width: 30%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
}

main section .bottom{
    background-color: var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .bottom .placeHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    gap: var(--gutter-md);
}

main section .bottom .placeHolder p{
   
    font-size: var(--font-size-lg);
    
}

main section .bottom .placeHolder i{
   font-size: 10rem;
    
}

main section .right{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
}
main section .right .filter{
    width: 100%;
}

main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}

main section .right .filter input::-webkit-slider-runnable-track{
    height: 3px;
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-active-color);
}


main section .right .filter input::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg-danger-color);
    margin-top: -8.5px;
}